<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>assignmentApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue-Regular.ttf</string>
		<string>KalniaGlaze-Bold.ttf</string>
		<string>KalniaGlaze-ExtraLight.ttf</string>
		<string>KalniaGlaze-Light.ttf</string>
		<string>KalniaGlaze-Medium.ttf</string>
		<string>KalniaGlaze-Regular.ttf</string>
		<string>KalniaGlaze-SemiBold.ttf</string>
		<string>KalniaGlaze-Thin.ttf</string>
		<string>KalniaGlaze_Expanded-Bold.ttf</string>
		<string>KalniaGlaze_Expanded-ExtraLight.ttf</string>
		<string>KalniaGlaze_Expanded-Light.ttf</string>
		<string>KalniaGlaze_Expanded-Medium.ttf</string>
		<string>KalniaGlaze_Expanded-Regular.ttf</string>
		<string>KalniaGlaze_Expanded-SemiBold.ttf</string>
		<string>KalniaGlaze_Expanded-Thin.ttf</string>
		<string>KalniaGlaze_SemiExpanded-Bold.ttf</string>
		<string>KalniaGlaze_SemiExpanded-ExtraLight.ttf</string>
		<string>KalniaGlaze_SemiExpanded-Light.ttf</string>
		<string>KalniaGlaze_SemiExpanded-Medium.ttf</string>
		<string>KalniaGlaze_SemiExpanded-Regular.ttf</string>
		<string>KalniaGlaze_SemiExpanded-SemiBold.ttf</string>
		<string>KalniaGlaze_SemiExpanded-Thin.ttf</string>
	</array>
</dict>
</plist>
